<div class="tab-pane in active" id="h2tab1">
	<div class="row" style="padding:20px;">				
		<div class="shadow bordered">
			<div class="overlay-container">
				<img src="/images/artists/jesus/Las pesadillas de kleee.jpg" alt="">
				<a href="/images/artists/jesus/Las pesadillas de kleee.jpg" class="overlay-link popup-img" title="">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>
		<div class="space-bottom"></div>
		<div class="row grid-space-20">

			<div class="col-xs-3">
				<div class="overlay-container">
					<img src="/images/artists/jesus/auto retrato con mascara de jaguar  35x48.jpg" alt="">
					<a href="/images/artists/jesus/auto retrato con mascara de jaguar  35x48.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="overlay-container">
					<img src="/images/artists/jesus/El divorcio de Blanca Nieves.jpg" alt="">
					<a href="/images/artists/jesus/El divorcio de Blanca Nieves.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>


			<div class="col-xs-3">
				<div class="overlay-container">
					<img src="/images/artists/jesus/El viaje del chamán entre las ruinas de la pos modernidad 94x67.jpg" alt="">
					<a href="/images/artists/jesus/El viaje del chamán entre las ruinas de la pos modernidad 94x67.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>												
			
			<div class="col-xs-3">
				<div class="overlay-container">
					<img src="/images/artists/jesus/felizes por siempre_print_27.5cmx19.5cm.jpg" alt="">
					<a href="/images/artists/jesus/felizes por siempre_print_27.5cmx19.5cm.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>		
		</div>						

		<div class="space-bottom"></div>

		<div class="row grid-space-20">
										
			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/kids mixta sobre tela 79 x 47.jpg" alt="">
					<a href="/images/artists/jesus/kids mixta sobre tela 79 x 47.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/la chola majikaaa 27x71.jpg" alt="">
					<a href="/images/artists/jesus/la chola majikaaa 27x71.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>

			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/la chola majikaaa 48x71.jpg" alt="">
					<a href="/images/artists/jesus/la chola majikaaa 48x71.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="space-bottom"></div>

		<div class="row grid-space-20">
										
			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/LA OSA.jpg" alt="">
					<a href="/images/artists/jesus/LA OSA.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/androide paranoico 2 mixta sobre tela 59x59.jpg" alt="">
					<a href="/images/artists/jesus/androide paranoico 2 mixta sobre tela 59x59.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/NARANJA MECÁNICA.jpg" alt="">
					<a href="/images/artists/jesus/NARANJA MECÁNICA.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			
		</div>

		<div class="space-bottom"></div>

		<div class="row grid-space-20">
										
			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/Only.jpg" alt="">
					<a href="/images/artists/jesus/Only.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/Oso babozoo_Print_27.5cmx19cm.jpg" alt="">
					<a href="/images/artists/jesus/Oso babozoo_Print_27.5cmx19cm.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/paisaje al estilo klee escuchando mgmt.jpg" alt="">
					<a href="/images/artists/jesus/paisaje al estilo klee escuchando mgmt.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			
		</div>

		<div class="space-bottom"></div>

		<div class="row grid-space-20">
										
			<div class="col-xs-4">
				<div class="overlay-container">
					<img src="/images/artists/jesus/Stimpi visita el mundo de los hombres.jpg" alt="">
					<a href="/images/artists/jesus/Stimpi visita el mundo de los hombres.jpg" class="overlay-link small popup-img" title="">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>